# Configuracion de base de datos
DB_NAME=rpa_ashtronic
DB_USER=usuario_rpa
DB_PASSWORD=password_secreto
DB_ROOT_PASSWORD=password_root_secreto
DB_HOST=db
DB_PORT=3306

# Acceso a la pagina web
URL_S=https://url-del-sitio-a-automatizar.com
USER_S=usuario_del_portal
PASSWORD_S=contraseña_del_portal
